

@font-face {
  font-family: GillM;
  src: url("./gilroy/Gilroy-Medium.ttf");
}@font-face {
  font-family: GillB;
  src: url("./gilroy/Gilroy-SemiBold.ttf");
}@font-face {
  font-family: GillL;
  src: url("./gilroy/Gilroy-Light.ttf");
}
@font-face {
  font-family: GillI;
  src: url("/gilroy/Gilroy-RegularItalic.ttf");
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(186 230 253 / var(--tw-bg-opacity, 1));
    font-family:GillM;
}


#crsr {
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
  border: 0.2vw solid white;
  z-index: 9999;
  background: transparent;
  pointer-events:none;
  transform: translate(-50%, -50%);
  display: initial;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:black;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.post_holders{
  padding: 4%;
  height: auto;
}
.element:hover{
    background-color: rgb(0, 0, 0);
    /* color: orange; */
    transition: background-color 0.5s ease-in-out;
}
.element{
    width: 100%;
    height:3vw ;
    border-top: black solid 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
  }

  .element h4{
    width: 30%;
    font-size: 1.8vw;
    font-weight: 600;
    text-transform: uppercase;
    font-family: GillL;
  }
  .element h2{
    transform: translate(-10%);
    line-height:1vw;
    font-size: 1.0vw;
    text-transform: uppercase;
    font-weight: 700;
  
  }
  .element img{
    height: 9.5vw;
    width: 9.5vw;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    object-position: top;
    left: 45%;
    display: none;
    transform:scale(1);
  }
  .element:nth-last-child(2):hover{
    border-bottom: black solid 3px;
    border-bottom: black solid 0px;
  }
  .element:hover{
    border-top: black solid 3px;
}
.element:hover img{
    display: initial;
    animation-name: zoom-out;
    animation-duration: .7s;
    cursor: pointer;
    transform: scale(1.5);
    background-color: #000;
    box-shadow: 0 0 0.5vw 0.5vw black;
}
.element:hover h4{
  color: white;
  background-color: transparent;
}
.element:hover h2{
  color: white;
  background-color: transparent;
}
  @keyframes zoom-out {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
  }
  
  #office_title{
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2vw;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }

  #office_bearers button{
    height: 3vw;
    width: 15vw;
    border-radius: 1vw;
    background-color: orange;
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 2vw;
    border: none;
    margin-bottom: 10vw;
  }

  @media screen and (max-width: 600px) and (min-width: 300px) {
    *{
      height: auto;
      width: auto;
    }
    .post_holders{
      height: 100vw;
      width: auto;
    }
    #office_bearers{
      height: auto;
      width: 100%;
      margin-top: 5%;
    }
    #office_bearers h1{
      font-size: 7vw;
      margin-top: 10%;
      margin-bottom: 7%;
    }
    .element{
      height: 18vw;
      padding: 0% 5% 0% 5%;
    }
    .element h4{
      font-size: 3.5vw;
    }
    .element h2{
      font-size: 2.2vw;
    }
    .element img{
      height: 20vw;
      width: 20vw;
      left: 40%;
    }
    .element:hover img{
      box-shadow: 0 0 1vw 1vw black;
    }
  }

  @media screen and (max-width: 900px) and (min-width: 600px) {
    *{
      height: auto;
      width: auto;
    }
    .post_holders{
      height: 100vw;
      width: auto;
    }
    #office_bearers{
      height: auto;
      width: 100%;
      margin-top: 5%;
    }
    #office_bearers h1{
      font-size: 7vw;
      margin-top: 10%;
      margin-bottom: 7%;
    }
    .element{
      height: 18vw;
      padding: 0% 5% 0% 5%;
    }
    .element h4{
      font-size: 3.5vw;
    }
    .element h2{
      font-size: 2.2vw;
    }
    .element img{
      height: 20vw;
      width: 20vw;
    }
    .element:hover img{
      box-shadow: 0 0 1vw 1vw black;
    }
  }
  @media screen and (max-width: 1280px) and (min-width: 900px) {
    *{
      height: auto;
      width: auto;
    }
    .post_holders{
      height: 80vw;
      width: auto;
    }
    #office_bearers{
      height: auto;
      width: 100%;
      margin-top: 2%;
    }
    #office_bearers h1{
      font-size: 5vw;
      margin-top: 10%;
      margin-bottom: 7%;
    }
    .element{
      height: 12vw;
      padding: 0% 5% 0% 5%;
    }
    .element h4{
      font-size: 2.6vw;
    }
    .element h2{
      font-size: 1.5vw;
    }
    .element img{
      height: 15vw;
      width: 15vw;
    }
    .element:hover img{
      box-shadow: 0 0 1vw 1vw black;
    }
  }